* {
    font-family: 'Roboto', sans-serif;
}

.header {
    display: flex;
    padding: 1px;
    margin: 10px;
    border: 4px solid blue;
    border-radius: 10px;
    gap: 15px;
    justify-content: space-evenly;
    align-items: center;
}

.header .one {
    padding: 50px;
}

.Logo {
    width: 200px;
    height: 200px;
}

.main {
    float: left;
    padding: 50px 120px;
    border: 4px solid blue;
}

.rocko {
    display: flex;
    float: right;
    width: 350px;
    height: 350px;
    padding: 50px 250px 100px 100px;
}